// Specific CSS for your home-page
body {
  background-color: white;
  max-width: 100vw;
}
.home {
  color: white;
  text-align: center;
  height: calc(100vh - 70px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h2 {
    color: #F3B800;
    font-size: 4em;
    padding-bottom: 1.2em;
  }
  .login-form {
    padding-bottom: 1em;
  }
  a {
    color: white;
    font-weight: 800;
  }
}
