.fa-check-circle {
  color: green;
}

.fa-minus-circle {
  color: #CB1424;
}

.hidden {
  visibility: hidden;
}

.red {
  color: #CB1424;
}

@media screen and (max-width: 640px) {
  .flexbox {
    flex-direction: column;
  }
  .mes-livres {
    width: 100%;
    margin-right: 0;
  }
  .mes-emprunts {
    width: 100%;
  }
}
