.carou {
  height: 30vh;
  background-color: #CD0B20;
  color: white;
  display: flex;
  padding-left: 20%;
  .carou-pochette {
  width: 20%;
  margin: 0;
  padding: 0px;
    .pochette {
      padding-top: 20px;
      max-height: 200px;
      align-items: center;
    }
  }
  .carou-info {
    margin: 0px;
    padding: 0px;
    width: 60%;
  }
}
.carou-link {
  height: 220px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

@media screen and (max-width: 640px) {
  .carou {
    height: 60vh;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 0;
    .pochette {
      padding-left: 0;
    }
    h3 {
      font-size: 26px;
    }
  }
}
