.emprunt {
  padding-top: 1em;
  border-bottom: 1px solid rgb(200, 200, 200);
}
.entete {
  display: flex;
  .avatar-emprunteur {
    width: 20%;
    img {
      width: 4em;
      border-radius: 50%;
    }
  }
  .fa-star {
    color: #F3B800;
  }
}
.avis-emprunteur {
  margin-left: 20%;
}

#titre-avis {
  margin-bottom: 0;
}

.grey-link {
  color: #5A5A5A;
  padding-left: 1em;
}

.emprunts {
  border-bottom: 1px rgb(200, 200, 200) solid;
  display: block;
  vertical-align: middle;
  float: none;
  .avatar {
    border-radius: 50%;
    width: 60px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .fas {
    padding-top: 0.8em;
    color: #F3B800;
    font-size: 2em;
  }
  .pochette-mini {
    height: 120px;
  }
  .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
}

@media screen and (max-width: 640px) {
  .entete {
    .avatar-emprunteur {
      img {
        width: 3em;
      }
    }
  }
  .avis-emprunteur {
    margin-left: 0;
    margin-top: 1em;
  }
}
