.fa-video {
  border-radius: 3px;
  border: 1px rgb(210, 210, 210) solid;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  color: rgb(210, 210, 210);
}

.livre_video {
  padding-bottom: 0;
  margin-bottom: 0;
}

.preview {
  margin-bottom: 10px;
}
