<p>Hello <%= @resource.email %>!</p>

<p>Si tu souhaites changer ton mot de passe, clique sous le lien ci-dessous</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu n'as pas fait de demande de changement de mot de passe, ne tiens pas compte de cet email.</p>
<p>Le mot de passe ne sera pas mis à jour tant que tu ne cliqueras pas sur le lien et n'en créeras pas un nouveau.</p>
